*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('http://wallpapercave.com/wp/pY2ADpc.jpg');
  color: #333;
}