header#main-header {
  background-image: url('./Pok.png');
  background-attachment: fixed;
  background-size: 100%;
  background-repeat: no-repeat;
  opacity: 0.7;
  border-radius: 20px;
  height: 100px;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1069px) {
  header#main-header{
    border-radius: 8%;
  }
}